[Unit]
Description=Altoids Cyberdeck UI
Wants=bluetooth.target

[Service]
Type=simple
WorkingDirectory=/opt/altoids/current
RuntimeDirectory=altoids
Environment=ALTOIDS_RUNTIME_STATE=/run/altoids
ExecStart=/opt/altoids/.venv/bin/python -m altoids
Restart=on-failure
RestartSec=5
TimeoutStartSec=40
TimeoutStopSec=15
User=kayna

[Install]
WantedBy=multi-user.target
